<div class="footer-style">

    <a class="bot-bar-logo">
        <img src="../../../../assets/Images/logo-for-dark-background.png" alt="Smally Cat Logo">
    </a>

    <div class="footer-middle-section">
        <div class="footer-middle-section-top"> 
            <a class="footer-button" href="">Privacy Policy</a>
            <a class="footer-button"  href="">Terms & Conditions</a>
            <a class="footer-button"  href="">Blog</a>
            <a class="footer-button"  href="">Support</a>
        </div>
        <a class="copyright-styling" href="">Copyright © SmellyCat 2020</a>
    </div>

    <div class="social-media-links">
        <a href="">
            
            <img src="../../../../assets/Images/icons/discord-icon.png" alt="Smally Cat Logo">
        </a>
        <a href="">
            <img src="../../../../assets/Images/icons/twitter-icon.png" alt="Smally Cat Logo">
        </a>
        <a href="">
            <img src="../../../../assets/Images/icons/instragram-icon.png" alt="Smally Cat Logo">
        </a>
    </div>
</div>